[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/harishkathpalia1978
[access "refs/for/refs/*"]
	read = group user/harishkathpalia1978
	push = group user/harishkathpalia1978
	label-Code-Review = -2..+2 group user/harishkathpalia1978
	label-Verified = -1..+1 group user/harishkathpalia1978
	rebase = group user/harishkathpalia1978
	removeReviewer = group user/harishkathpalia1978
	submit = group user/harishkathpalia1978
[access "refs/heads/*"]
	read = group user/harishkathpalia1978
	create = group user/harishkathpalia1978
	push = +force group user/harishkathpalia1978
	pushMerge = group user/harishkathpalia1978
[access "refs/tags/*"]
	push = +force group user/harishkathpalia1978
	pushTag = group user/harishkathpalia1978
	pushSignedTag = group user/harishkathpalia1978
